<!-- NOTE: load static informs the view engine that static assets are needed here -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Creature Collector</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal darken-4">
                <a class="left brand-logo" href="{% url 'home' %}">Creature Collector</a>
                <ul class="right">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'creatures_index' %}">All Creatures</a>
                    </li>
                    <li>
                        <a href="{% url 'creature_create' %}">Add a Creature</a>
                    </li>
                    <li>
                        <a href="{% url 'toys_list' %}">View All Toys</a>
                    </li>
                    <li>
                        <a href="{% url 'toy_create' %}">Add a Toy</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer teal darken-4">
        <p>Copright &copy; All Rights Reserved Creature Collector 2023</p>
    </footer>
</body>
</html>